{% extends "base.html" %}
{% block content %}
<h1><center>{{title}}</center></h1>
<br>
<form action="/newpost" method="post">
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="blogtitle">Title for your new blog:</label>
                </td>
                <td>
                    <input name="blogtitle" type="text" value='{{newtitle}}' />
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="blogbody">Your new blog:</label>
                </td>
                <td>
                    <textarea name="blogbody" value='{{newbody}}'></textarea>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Add Entry">
</form>

{% endblock %}